
<!-- The main window  -->
<div class="container">
  <h2>Hello {{currentUser}},</h2>
  <h4>You own the following Outlets:</h4>
  <div class="container outlet-container">

    <div class="jumbotron col-md-4 col-md-offset-1" ng-repeat="outlet in outlets">
      
      <div class="pull-right">
        <a ng-click="deleteOutlet(outlet._id)"><span class="glyphicon glyphicon-remove-circle" title="delete outlet">&nbsp;</span></a>
        <a href="/#/outlet/{{outlet._id}}" >
            <span class="glyphicon glyphicon-edit" title="Details"></span>
          </a>
      </div>
        <h3>{{outlet.name}}</h3><br>
      <p>{{outlet.from|date:'shortTime'}}&nbsp;-&nbsp;<span>{{outlet.to|date:'shortTime'}}</span></p>
      <address>
        {{outlet.address.address}}<br>
        {{outlet.address.city}}<br>
        <abbr title="Contact No">{{outlet.care_taker}}</abbr>{{outlet.contact_no}}<br>
      </address>
      <small>{{outlet.description}}</small> 
    </div>
  </div>
</div>

